<nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="http://localhost:8000/songs">
        <img src="{{ url_for('static', path='/img/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Music</span>ality
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}" href="http://localhost:8000/songs">Мои песни</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}" href="http://localhost:8000/playlists">Плейлисты</a>
        </li>
      </ul>
    </div>
  </nav>